<div class="container" style="padding: 5px 30px;">
  <form [formGroup]="createForm" (ngSubmit)="create()" class="flex-column">
    <mat-form-field appearance="fill">
      <mat-label>{{ "organisationname" | translate }}</mat-label>
      <input matInput placeholder='{{"name"|translate}}' formControlName="name">
      @if (createForm.get('name')?.hasError('required')) {
        <mat-error>
          {{ "name_empty" | translate }}
        </mat-error>
      }
      @if (createForm.get('name')?.hasError('minlength')) {
        <mat-error>
          {{ "name_length" | translate }}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "country" | translate }}</mat-label>
      <mat-select formControlName="factors">
        @for (factor_preset of PRESET_FACTORS_LIST; track factor_preset) {
          <mat-option [value]="factor_preset">{{"factor_preset." + factor_preset | translate}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!createForm.valid">{{ "add_button" | translate }}</button>
  </form>
</div>
<app-footer></app-footer>
