<div style="padding: 10px 30px;">
  <h1 class="title">{{"factors"|translate}}:</h1>
  @if (ids.length === 0) {
    <mat-card class="error_card">{{ "create_module_error" | translate }}</mat-card>
  }
  @if (ids.length !== 0) {
    @for (id of ids; track id; let i = $index) {
      <mat-card  class="module_card">
        <mat-card-header class="flex-row align-space-between-center">
          <p class="flex-grow">{{ "modules." +id | translate }}</p>
          <p class="flex-grow" style = "font-weight: bold;">[{{ id == "server_emission_module" || id == "printer_3d_emission_module" || id == "printer_emission_module" || id == "plotter_emission_module" || id == "laptop_emission_module" || id == "computer_emission_module"
            ? (modules[i] | translate)
          : (modules[i] | translate) + '/' + ('year' | translate) }}]</p>
          <p>
          </p>
          <button (click)="create(id)" mat-icon-button class="icon" aria-label="addModule">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
    }
  }
</div>
