.container{
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
        margin: 30px auto;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }
}