<div class="container flex-column" style="padding: 5px 30px;">

  <mat-form-field appearance="fill">
    <mat-label>{{ "language" | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedLanguage" aria-label="Select language">
      @for (language of languages; track language) {
        <mat-option [value]="language">
          {{ language.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="save()" aria-label="Save">{{ "save" | translate}}</button>

</div>
<app-footer></app-footer>


